
  <div class="header bg-gradient-danger pb-5 pt-4 pt-md-6">
      <div class="container-fluid">
        <div class="header-body">
          <div class="row">
            
       
           
           
                
                <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
              <div class="col-md-10  pb-1 text-center">
                <h1 >تحب تتطوع وتكون ضمن فريقنا </h1>

              </div>
            </div>
          </div>
            
          </div>
        </div>
      </div>
    </div> 

    


<!-- Page content -->
<div class="container-fluid mt--5">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <div class="row flex-row">
          <h3 class="mb-0">المتطوعون</h3>
          <button class="btn btn-icon btn-2 btn-primary btn-style" data-toggle="modal" data-target="#addUser" type="button">
              <i class="material-icons"> add</i> <p style="margin-top: 15px; margin-right: 3px;">اتطوع </p>
            </button>
        </div>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th scope="col">الاسم</th>
                <th scope="col">المدينة</th>
               
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let list of list">
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{list.name}}</span>
                    </div>
                  </div>
                </th>
                <td>
                    <span class="badge badge-dot mr-4 text-blue">
                        <i class="bg-primary"></i> {{list.adresse}}
                      </span>
                </td>
                <td>
                    <div class="actions">
                        <a href="javascript:void(0)" >
                            <span class="mb-0 text-sm">{{list.corps}}</span>
                        </a>
                    </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal" id="addUser">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">اتطوع</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="userForm">
    
              <div class="row">
              <div class="col-md-6  form-group">
                  <mat-form-field appearance="outline" class="input-full">
                        <mat-label>الاسم</mat-label>
                      <input formControlName="name" matInput placeholder="الاسم">
                      <mat-error *ngIf="userForm.hasError('required', 'name')">عليك اضافة الاسم</mat-error>
                    </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6  form-group">
                  <mat-form-field appearance="outline" class="input-full">
                        <mat-label>العنوان</mat-label>
                      <input formControlName="adresse" matInput placeholder="العنوان">
                      <mat-error *ngIf="userForm.hasError('required', 'adresse')"> عليك اضافة العنوان  </mat-error>
                    </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6  form-group">
                <mat-form-field appearance="outline" class="input-full">
                      <mat-label>رقم الهاتف</mat-label>
                    <input formControlName="numero" matInput placeholder="رقم الهاتف">
                    <mat-error *ngIf="userForm.hasError('required', 'numero')">عليك اضافة رقم الهاتف </mat-error>
                  </mat-form-field>
            </div>
            </div>
            <div class="row">
                <div class="col-md-6  form-group">
                  <mat-form-field appearance="outline" class="input-full">
                        <mat-label>كيف ستتطوع</mat-label>
                      <input formControlName="corps" matInput placeholder="">
                   </mat-form-field>
              </div>
              </div>
           

          </form>
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">اغلق</button>
          <button type="button" class="btn btn-primary" (click)="register()" data-dismiss="modal">ارسل</button>
        </div>

      </div>
    </div>
  </div>
