<div class="header bg-gradient-danger pb-5 pt-4 pt-md-6">   <div class="container-fluid">
    <div class="header-body">
      <div class="row">  
            <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-10  pb-1 text-center">
            <h1 >كن ضمن فريقنا</h1>
     
          </div>
        </div>
      </div>
        
      </div>
    </div>
  </div>
</div> 















<div class="container my-5">


    <!--Section: Content-->
    <section class="dark-grey-text">
  
      <!-- Section heading -->
      <h3 class="text-center font-weight-bold mb-4 pb-2">كيفاش تنجم تتبرع</h3>
      <hr class="w-header">
      <!-- Section description -->
      <p class="lead text-center w-responsive mx-auto text-muted mt-4 pt-2 mb-5">تبرع و احنا نوصلولك امانتك للناس لي تستحقها </p>
      
      <!--First row-->
      <div class="row">
  
        <!--First column-->
        <div class="col-md-6 mb-4">
  
          <!-- Card -->
          <a href="#!" class="card hoverable">
            
            <!-- Card content -->
            <div class="card-body">
  
              <p><i class="fas fa-shopping-cart fa-3x text-primary"></i></p>
              <h5 class="dark-grey-text my-4">تشري و تكلمنا</h5>
              <p class="text-muted font-weight-light mb-0">تخلص قضية ..تشري دبش.. و تكلمنا نوصلوها للناس لي تستحها.. </p>
  
            </div>
  
          </a>
          <!-- Card -->
  
        </div>
        <!--First column-->
  
        <!--Second column-->
        <div class="col-md-6 mb-4">
  
          <!-- Card -->
          <a href="#!" class="card hoverable">
            
            <!-- Card content -->
            <div class="card-body">
  
              <p><i class="fas fa-donate fa-3x text-warning"></i></p>
              <h5 class="dark-grey-text my-4">تتبرع بالفلوس</h5>
              <p class="text-muted font-weight-light mb-0">كلمنا </p>
  
            </div>
  
          </a>
          <!-- Card -->
  
        </div>
        <!--Second column-->
  
      </div>
      <!--First row-->
  
    </section>
    


      <!--Grid row-->
      <div class="row text-center">

          <!--Grid column-->
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
  
            <i class="fas fa-map-marker-alt fa-2x blue-text"></i>
  
            <p class="font-weight-bold my-3">العنوان</p>
  
            <p class="text-muted">تونس,قبلي,سوق الاحد</p>
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
  
              <i class="fas fa-phone fa-2x blue-text"></i>
  
              <p class="font-weight-bold my-3">الهاتف</p>
    
              <p class="text-muted">+ 21692330732</p>
  
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
  
              <i class="fas fa-envelope fa-2x blue-text"></i>
  
              <p class="font-weight-bold my-3">البريد الإلكتروني</p>
    
              <p class="text-muted">saber.mekki6@gmail.com</p>
  
          </div>
          <!--Grid column-->
  
        </div>
        <!--Grid row-->
  
    
  </div>

 