<div class="header bg-gradient-danger pb-5 pt-4 pt-md-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row">
          <div class="overlay"></div>
          <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
              <div class="col-md-10  pb-1 text-center">
                
                <h3>#شد دارك</h3>
              </div>
            </div>
          </div>
  
        </div>
      </div>
    </div>
  </div>
<div class="error-box">
    <div class="error-body text-center">
        <h1>404</h1>
        <h3 class="text-uppercase">Page Not Found !</h3>
        <p class="text-muted m-t-30 m-b-30">YOU SEEM TO BE TRYING TO FIND HIS WAY HOME</p>
        <a class="btn btn-info btn-rounded waves-effect waves-light m-b-40" [routerLink]="['/']">Back to home</a> </div>
</div>
