<div class="header bg-gradient-danger pb-5 pt-4 pt-md-6">   <div class="container-fluid">
      <div class="header-body">
        <div class="row">
          
     
         
         
              
              <div class="overlay"></div>
        <div class="container">
          <div class="row no-gutters slider-text align-items-end justify-content-center">
              <div class="col-md-10  pb-1 text-center">
              <h1 >كن ضمن فريقنا</h1>
             <h3>كن ضمن فريقنا</h3>
            </div>
          </div>
        </div>
          
        </div>
      </div>
    </div>
  </div> 





  <h1 class="center">iabat </h1>
  <mat-form-field>
    <mat-label>ابحث</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Gabes">
  </mat-form-field>

 






  <div class="row">
      <div class="col-md-6 col-xl-8 mb-4">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> الولاية </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> عدد الاصابات </th>
      <td mat-cell *matCellDef="let element"> {{element.position+element.weight}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="weight">
      <th mat-header-cell *matHeaderCellDef>  الاصابات الجديدة </th>
      <td mat-cell *matCellDef="let element"> +{{element.weight}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="symbol">
      <th mat-header-cell *matHeaderCellDef> حالات الشفاء  </th>
      <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
    </ng-container>
    <ng-container matColumnDef="crit">
        <th mat-header-cell *matHeaderCellDef>  الحالات الحرجة </th>
        <td mat-cell *matCellDef="let element"> {{element.crit}} </td>
      </ng-container>
    <ng-container matColumnDef="mort">
      <th mat-header-cell *matHeaderCellDef> الوفايات  </th>
      <td mat-cell *matCellDef="let element"> {{element.mort}} </td>
    </ng-container>
  


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
      </div>
  <div class="col-md-6 col-xl-3 mb-4">
  <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
  <!-- *************** -->
  </div>
</div>









<div class="container my-5">

    <!-- Section -->
    <section>
  
      <h6 class="font-weight-bold text-center grey-text text-uppercase small mb-4">انضم الينا</h6>
      <h3 class="font-weight-bold text-center dark-grey-text pb-2">خدماتنا</h3>
      <hr class="w-header my-4">
      <p class="lead text-center text-muted pt-2 mb-5">نوصلولك قضيتك لباب دارك
      </p>
  
      <div class="row">
  
        <div class="col-md-6 col-xl-3 mb-4">
          <div class="card text-center bg-success text-white">
            <div class="card-body">
              <p class="mt-4 pt-2"><i class="far fa-edit fa-4x"></i></p>
              <h5 class="font-weight-normal my-4 py-2"><a class="text-white" [routerLink]="['/volumes']">تعمر قضيتك</a></h5>
              <p class="mb-4">تقيدلنا لي حاجتك بيه ..</p>
            </div>
          </div>
        </div>
  
        <div class="col-md-6 col-xl-3 mb-4">
          <div class="card text-center">
            <div class="card-body">
              <p class="mt-4 pt-2"><i class="fas fa-mobile-alt fa-4x grey-text"></i></p>
              <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">نكلموك</a></h5>
              <p class="text-muted mb-4">بالوقت نتصلوا بيك كان فمة حاجة موش واضحة و الا استفسار</p>
            </div>
          </div>
        </div>
  
 
        <div class="col-md-6 col-xl-3 mb-4">
          <div class="card text-center bg-success text-white">
            <div class="card-body">
              <p class="mt-4 pt-2"><i class="fas fa-shopping-cart fa-4x"></i></p>
              <h5 class="font-weight-normal my-4 py-2"><a class="text-white" href="#">نشروا السلعة</a></h5>
              <p class="mb-4">نشرولك السلعة ونكلموك كان فما استفسار </p>
            </div>
          </div>
        </div>


        <div class="col-md-6 col-xl-3">
          <div class="card text-center">
            <div class="card-body">
              <p class="mt-4 pt-2"><i class="fas fa-shuttle-van fa-4x grey-text"></i></p>
              <h5 class="font-weight-normal my-4 py-2"><a class="dark-grey-text" href="#">نجيبولك سلعتك</a></h5>
              <p class="text-muted mb-4">نجيبولك سلعتك في اقرب وقت و تخلصنا و تزيد عليها سوم رمزي </p>
            </div>
          </div>
        </div>
  
      </div>
  
    </section>
    <!-- Section -->
  
  </div>


